# OSX dir files
.DS_Store
.idea

# python c file
*.pyc
*.pdf
*.npy

# large file

# exclude files
!/imgs/topic-38.png
!/imgs/topic-44.png
!/imgs/tsne_embedding_cross_domain.png
!/imgs/tsne_embedding_single_domain_bio.png
!/imgs/tsne_embedding_single_domain_neuro.png